.display {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 10px;
  background: linear-gradient(90deg, #06beb6, #48b1bf 100%);
}


/* .expression {
  padding: 5px;
  margin-bottom: 10px;
  height: 50px;
} */

.input,
.value {
  padding: 5px;
  text-align: right;
  background-color: transparent;
  color: white;
  border: 10px;
  letter-spacing: 1.5px;
  
}
.input{
  font-size: 25px;
}

.value {
  font-size: 25px;
} 
